{% extends "base.html" %}

{% block title %}Add a user{% endblock %}

{% block content %}
    
    <div class="ui two column centered grid">
        <div class="column"><div class="ui segment">
            <h2 class="ui left floated header"><i class="pencil alternate icon"></i>Create an Account</h2>
            <div class="ui clearing divider"></div>
            <p>Already a member? <a href="{{ url_for('login') }}">Login!</a></p>

            <form class="ui form" method="POST" action="{{url_for('users.index')}}">
                {{ form.hidden_tag() }}
                {% for field in form if field.widget.input_type != 'hidden' %}
                    <div class="field">
                        {{field.label}}
                        {{field}}
                        <span>
                            {% if field.errors %}
                                {% for error in field.errors %}
                                {{ error }}
                                {% endfor %}
                            {% endif %}
                        </span>
                    </div>
                {% endfor %}
                <button class="ui button" type="submit">Save</button>
            </form>
        </div>
    </div>

{% endblock %}