{% extends "base.html" %}

{% block title %}Notes Homepage{% endblock %}

{% block content %}

<div class="ui center aligned icon header">
    <i class="pencil alternate icon"></i>
    {% if g.user.id == user.id %}
        <h1>Hi {{g.user.username}}! These are your current notes.</h1>
    {% else %}
        <h1>Hi {{g.user.username}}! These are {{user.username}}'s notes.</h1>
    {% endif %}

<p>{{ date }} - <span id="clock"></span></p>
<a href="{{ url_for('notes.new', user_id=user.id) }}">Add Note</a>
</div>
  
<div class="ui divider"></div>

<div class="ui four column grid centered">

    {% for note in user.notes %} 

        <div class="column">
            <div class="ui centered cards">
                <div class="card">
                    <div class="content">
                        <img class="right floated mini ui image" src="/static/matthew.png">
                        <div class="header">
                            <a href="{{url_for('notes.show', user_id=user.id, id=note.id)}}">{{note.title}}</a>
                        </div>
                        <div class="meta">
                            {{note.date.strftime('%Y-%m-%d') }}
                        </div>
                        <div class="description">
                            {{note.note_body}}
                        </div>
                    </div>
                    <div class="extra content">
                        <div class="ui two buttons">
                            <div class="ui basic blue button"><a href="{{ url_for('notes.edit', user_id=user.id, id=note.id) }}">Edit</a></div>
                            <div class="ui basic red button"><form action="{{url_for('notes.show', user_id=user.id, id=note.id)}}?_method=DELETE" method="POST">
                                {{delete_form.hidden_tag()}}
                                <input type="submit" value="Delete">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %} 
</div>

{% endblock %}