{% extends "base.html" %}

{% block title %}Note{% endblock %}

{% block content %}

    <div class="ui two column centered grid">
        <div class="column"><div class="ui segment">
            <h2 class="ui left floated header">{{ note.id }}. {{ note.user_id }}.{{ note.title }}</h2>
            <div class="ui clearing divider"></div>
            <h5>Written on {{ note.date }}</h5>
            <p>{{ note.note_body }}</p>
            <a href="{{ url_for('notes.index', user_id=user.id) }}">See all the notes.</a>
            <br>
            <button class="ui button"><a href="{{ url_for('notes.edit', user_id=user.id, id=note.id) }}">Edit Note</a></button>
      
        </div>
    </div>

{% endblock %}