<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note-Taking App - {% block title %}{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
    <body>
        <nav>
            <ul>
                <li><a href="{{ url_for('index')}}" class="logo"><i class="pencil alternate icon"></i>Note-Taking App</a></li>
                {% if g.user.username %}
                    <li><a href="{{ url_for('logout')}}">Sign out</a></li>
                {% else %}
                    <li><a href="{{ url_for('login')}}">Login</a></li>
                {% endif %}
                <li><a href="{{ url_for('profile')}}">Profile</a></li>
                <li><a href="{{ url_for('index')}}">Friends</a></li>
                <li><a href="{{ url_for('about')}}">About</a></li>
            </ul>
        </nav>
        <br>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}

                <div class="ui negative message compact">
                    <i class="close icon"></i>
                    <div class="header centered">
                        {{ msg }}
                    </div>
                </div>
    
                {% endfor %}
            {% endif %}
        {% endwith %}


        {% block content %}
        {% endblock %}
    <script type=text/javascript src="{{url_for('static', filename='scripts.js') }}"></script>
    </body>
</html>