{% extends "base.html" %}

{% block title %}Profile page{% endblock %}

{% block content %}
        <div class="ui centered link card">
            <a class="image" href="{{ url_for('notes_index', user_id=g.user.id) }}">
                <img src="/static/matthew.png">
            </a>
            <div class="content">
                <a class="header" href="{{ url_for('notes_index', user_id=g.user.id) }}">Hi {{g.user.username}}!</a>
                    <div class="meta">
                    <span class="date">Member since {{ g.user.date.strftime('%Y-%m-%d') }}</span>
            </div>
            <div class="description">
                {% if g.user.notes.count() == 1 %}
                    <p>You have {{ g.user.notes.count() }} note.</p>
                {% else %}
                    <p>You have {{ g.user.notes.count() }} notes.</p>
                {% endif%}
            <a href="{{ url_for('notes_index', user_id=g.user.id) }}">Click to check them out!</a>
            </div>
            </div>
            <div class="extra content">
            <a>
                <i class="user icon"></i>
                22 Friends
            </a>
            </div>
        </div>
 
{% endblock %}