{% extends "base.html" %}

{% block title %}Notes Homepage{% endblock %}

{% block content %}

<div class="ui center aligned icon header">
    <i class="users icon"></i>
    <h1>Hi {{ g.user.username }}! These are your Friends.</h1>

<p>{{ date }} - <span id="clock"></span></p>
</div>
  
<div class="ui divider"></div>

<div class="ui four column grid centered">

    {% for user in users %} 

        <div class="column">
            <div class="ui centered cards">
                <div class="card">
                    <div class="content">
                        <img class="right floated mini ui image" src="/static/matthew.png">
                        <div class="header">
                            <a href="{{url_for('show', id=user.id)}}">{{user.username}}</a>
                        </div>
                        <div class="meta">
                        Member since {{user.date.strftime('%Y-%m-%d')}}
                        </div>
                        <div class="description">
                        Elliot requested permission to view your contact details.
                        </div>
                    </div>
                    <div class="extra content">
                        <div class="ui tree buttons">
                            <div class="ui basic green button"><a href="{{ url_for('notes_index', user_id=user.id) }}">Notes</a></div>
                            <div class="ui basic blue button"><a href="{{ url_for('edit', id=user.id) }}">Edit</a></div>
                            <div class="ui basic red button"><form action="{{url_for('show', id=user.id)}}?_method=DELETE" method="POST">
                                {{delete_form.hidden_tag()}}
                                <input type="submit" value="Delete">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %} 
</div>

{% endblock %}