{% extends "base.html" %}

{% block title %}Notes Homepage{% endblock %}

{% block content %}

    <div class="ui two column centered grid">
        <div class="column"><div class="ui segment">
            <h2 class="ui left floated header"><i class="pencil alternate icon"></i>Note-Taking App</h2>
            <div class="ui clearing divider"></div>
            <h2>Welcome back {{ g.user.username }}!</h2>
            <h3>Current Users</h3>
            <p>{{ date }} - <span id="clock"></span></p>
                {% for user in users %} 
                <p><a href="{{url_for('show', id=user.id)}}">{{user.username}}</a></p>
                    <br>
                    <button class="ui button"><a href="{{ url_for('notes_index', user_id=user.id) }}">Notes</a></button>
                    <button class="ui button"><a href="{{ url_for('edit', id=user.id) }}">Edit User</a></button>
                    <form class="ui button" action="{{url_for('show', id=user.id)}}?_method=DELETE" method="POST">
                        {{delete_form.hidden_tag()}}
                        <input type="submit" value="X">
                    </form> 
                {% endfor %} 
        </div>
    </div>

{% endblock %}